<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:include="common :: headerFragment" />
<body>

	<div class="socialbar">
		<img class="socialbutton" src="img/facebook_01.gif" /> <img
			class="socialbutton" src="img/twitter_01.gif" />
	</div>
	<div class="topbar">
		<div class="row">
			<div class="centered three columns logotoptext">AQUARIEN</div>
		</div>
		<div class="row">
			<div class="centered three columns logosubtext">SHOW</div>
		</div>
	</div>

	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="three columns">
			<div class="frontcircle">
				<div>Dein Aquarium</div>
			</div>
		</div>
		<div class="push_one three columns">
			<div class="frontcircle">
				<div>Neueste</div>
			</div>
		</div>
		<div class="push_one three columns">
			<div class="frontcircle">
				<div>Beliebteste</div>
			</div>
		</div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="nine columns">
			<h2>Zeig dein Aquarium</h2>
		</div>
	</div>
	<div class="row">
		<div class="nine columns">Lorem ipsum dolor sit amet, consetetur
			sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
			dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
			et justo duo dolores Lorem ipsum dolor sit amet, consetetur
			sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
			dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
			et justo duo dolores</div>
	</div>
	<div class="row">
		<div class="one column">&nbsp;</div>
	</div>
	<div class="row footbar">
		<div class="twelve columns">
			<a href="#">NUTZUNGSBESTIMMUNG</a> 
			<a href="#">FAQ</a>
			<a href="#">IMPRESSUM</a>
		</div>
	</div>
	<!-- <div class="footbar">dskdsks</div>  -->
</body>
</html>